body{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

.buttons {
    width: 55px;
    height: 40px;
    display:flex;
    justify-content: center;
    align-items:center;
    border: solid;
    border-color: black;
    border-radius: 5px
}

.buttons-zero {
    width: 124px;
    height: 40px;
    display:flex;
    justify-content: center;
    align-items:center;
    border: solid;
    border-color: black;
    border-radius: 5px
}
.button-separation {
    padding: 5px;
}

.button-container {
    display:flex;
    justify-content: center;
    align-items:center;
}
.button-container-result {
    display:flex;
    justify-content: left;
    align-items:center;
    width: 270px
}

.layout-calculator {
    border: solid;
    border-color: black;
    border-radius: 5px
}

.layout-screen {
    width: 100%;
    height: 50px;
    border: solid;
    border-color: black;
    border-radius: 5px;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: flex-end;
}